* {
  margin: 0px;
  font-family: "Source Sans Pro", sans-serif;
  letter-spacing: 0.2px; }

body {
  background: #fff; }

a {
  color: #fff; }

.header-wrap {
  display: flex;
  flex-direction: column;
  border-bottom-right-radius: 600px 200px;
  border: none;
  background: url("../img/m-h-day.jpg") center no-repeat;
  background-size: cover;
  height: 577px; }
  .header-wrap div:not(.landing-logo) {
    font-size: 16px;
    margin-top: 50px;
    margin-left: 155px; }
    .header-wrap div:not(.landing-logo) .login {
      padding-left: 120px;
      color: #fff;
      font-size: 15px; }
.header_heading:before {
  content: "awesome";
  position: absolute;
  top: 170px;
  left: 150px;
  background-color: #14a0c7; }
.header_text {
  font-family: "Hind", sans-serif;
  font-size: 0.8em;
  margin-top: 25px;
  margin-left: 150px;
  width: 550px;
  color: #2c2f3c;
  line-height: 1.5;
  display: block;
  white-space: pre-line;
  letter-spacing: 0.2px; }
.header_button {
  width: 110px;
  height: 40px;
  background-color: #699900;
  border: none;
  color: #fff;
  border-radius: 2px;
  font-size: 14px; }
.header_heading {
  font-size: 58px;
  line-height: 1;
  color: #2c2f3c;
  margin-top: 60px;
  margin-left: 150px;
  width: 500px;
  font-weight: 800; }

.landing-logo {
  margin-top: 15px;
  padding-left: 150px;
  display: flex;
  width: 150px;
  text-align: center;
  color: #2c2f3c; }
  .landing-logo img {
    padding-top: 4px;
    padding-left: 2px;
    width: 36px;
    height: 36px; }
  .landing-logo p {
    padding-top: 8px;
    margin-left: 7px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding-left: 5px;
    font-weight: 600;
    font-family: "Hind", sans-serif;
    line-height: 15px; }
    .landing-logo p span {
      font-family: "Hind", sans-serif;
      font-size: 8px; }

.section {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .section_text {
    color: #2c2f3c;
    margin: auto;
    font-size: 34px;
    padding-top: 30px;
    padding-bottom: 10px;
    font-weight: 600;
    width: 650px; }
    .section_text:before {
      content: "adventure";
      position: relative;
      left: 339px;
      background-color: #14a0c7; }
  .section_card_wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .section_card {
    background-color: #21232e;
    width: 870px;
    height: 235px;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
    border-radius: 5px; }
    .section_card_right_container {
      width: 55%;
      float: right;
      padding: 20px;
      text-align: center; }
    .section_card_heading {
      font-size: 20px;
      text-align: center;
      padding-top: 20px;
      color: #fff; }
    .section_card_text {
      font-size: 13px;
      text-align: justify;
      padding: 30px 50px 20px 50px;
      line-height: 1.5;
      color: #c0b4af;
      font-family: "Hind", sans-serif; }
    .section_card_img {
      width: 350px;
      float: left; }
  .section_link {
    font-size: 13px;
    color: #c0b4af; }
  .section_banner {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 950px;
    height: 120px;
    margin-top: 130px;
    background: linear-gradient(90deg, #669609, #2d5bda);
    border-radius: 5px; }
    .section_banner_text_wrap {
      margin: auto;
      padding-bottom: 20px;
      padding-left: 20px; }
    .section_banner_heading {
      font-size: 23px;
      font-weight: 900;
      color: #2c2f3c;
      padding-bottom: 10px; }
      .section_banner_heading:after {
        content: "start";
        position: relative;
        left: -230px;
        background-color: #14a0c7; }
    .section_banner_text {
      color: #c0b4af;
      font-size: 13px; }
    .section_banner_button {
      margin: auto;
      width: 110px;
      height: 40px;
      background-color: #699900;
      border: none;
      color: #fff;
      border-radius: 2px;
      font-size: 14px; }

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #21232e;
  padding-top: 50px;
  margin-top: -60px;
  z-index: -1;
  color: #c0b4af;
  font-family: "Hind", sans-serif; }
  .footer_logo {
    padding: 0px;
    margin: 0px; }
    .footer_logo p {
      color: #c0b4af; }
  .footer-wrap {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 50px; }
  .footer_text {
    font-size: 12px;
    line-height: 1.5;
    width: 250px;
    letter-spacing: 0.2px;
    font-family: "Hind", sans-serif; }
  .footer-cr {
    font-size: 14px;
    padding-top: 15px;
    padding-left: 20px;
    font-family: "Hind", sans-serif; }
