body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 18px;
  background-color: #f4f4f4;
  color: #666666;
}

p, q { line-height: 1.8; }
h2 { font-size: 1.8rem; }

a{
  color: white;
  text-decoration: none;
}

a.blue{
  color: blue;
}

h1, h2{
    font-weight: 500;
    line-height: 1.2;
}

h2{
  color: #9fdce4;
}

.container{
  max-width: 1140px;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.two-thirds{
  flex: 0 0 66.666666%;
}

.one-third{
  flex: 0 0 33.333333%;
}

.right-margin{
  margin-right: 25px;
}

.float-right {
    float: right;
}

.site {
    font-size: 4rem;
}

.first-quote{
  padding: 3rem;
}

.quote {
  font-size: 1.1em;
  font-style: italic;
  display: block;
}

.container {
    margin-top: 30px;
}

.container-inner {
    margin: 0 auto;
    max-width: 880px;
    display: flex;
    justify-content: space-around;
}

.container-inner.block{
  display: block;
}

.section {
    position: relative;
    background-color: white;
}

.last-section{
  margin-bottom: 50px;
}

.pricing-discount {
    display: none;
}

.pricing-discount__star {
    color: black;
}

.pricing-discount__text {
    color: black;
}

.section {
    min-height: 400px;
}

.center {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #76ccd8;
}

.flex-col {
    flex-direction: column;
}

.white{
  color: white;
}

.form-group {
  margin-bottom: 1rem;
  box-sizing: border-box;
}

.center.bg-white{
  background-color: white;
}

.btn {
    border-radius: 0;
    text-transform: uppercase;
    padding: 12px 47px;
    font-size: 1.15rem;
}

.font-thin { font-weight: 300; }
.max-w-400 { max-width: 400px; }

.form{
  display: flex;
  flex-wrap: wrap;
}

.center.form-button{
  background-color: white;
}

.form-wrapper{
  padding: 0 8rem;
}

.form-control::placeholder {
    color: #666666;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: #666666;
}

.form-control::-ms-input-placeholder {
    color: #666666;
}

.contact-form select,
.contact-form input {
  color: #666;
  border: 1px solid #ced4da;
}

.contact-form textarea {
  height: 205px;
  border: 1px solid #ced4da;
}

.pricing-table {
    border: 1px solid black;
    width: 100%;
    max-width: 340px;
    height: 31em;
}

.pricing-body {
    padding-bottom: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing-header-title {
    font-size: 1.6rem;
    margin: 0%;
}

.pricing-header-subtitle{
  margin: 0%;
}

.table-header{
  padding: 10px;
  text-align: center;
}

.feature-list {
    list-style: none;
    margin: 0;
    line-height: 2.4;
    padding: 35px 50px;
}

.form-header {
    background: black;
    padding: 40px 40px 90px;
}

.form-footer {
    padding-top: 80px;
    padding-bottom: 30px;
}

h4 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 20px 0 10px 0;
}

.footer-info-box {
    max-width: 260px;
    margin: 0 auto;
}

.contact-form {
    padding: 68px;
    background: white;
    position: relative;
}

.img-fluid {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form-control {
    color: #666;
    font-size: 1.2rem;
    padding: 12px 20px;
    border-radius: 0;
    width: 88%;
}

.contact-form select {
    width: 100%;
    padding: 15px;
    font-size: inherit;
}

.copyright-text {
    padding: 20px;
    font-size: 1rem;
}

.rounded-circle {
    height: 300px;
    width: 300px;
    background-image: url("../img/image-04.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

.post-center .quote{
	font-style: normal;
  font-size: 1em;
  margin-bottom: 40px;
}

.flex-center.flex-col p{
	font-size: 17px;
}

.post-center{
  font-size: 17px;
  padding: 3rem;
}

section{
  display: flex;
}

.col{
  width: 50%;
}

section.card:hover{
	color: #9fdce4;
}

section.card:hover:not(.col-md-reverse)::before{
	content: '';
	top: 0;
	right: 0;
	position: absolute;
    border-top: 80px solid #76cdd8;
    border-left: 80px solid transparent;
}

section.card.col-md-reverse:hover::before{
	content: '';
	top: 0;
	left: 0;
	position: absolute;
    border-top: 80px solid #76cdd8;
    border-right: 80px solid transparent;
}

.col-md-reverse{
	flex-direction: row-reverse;
}

.row{
  flex-direction: column;
}

.btn.btn-primary:hover{
	background-color: rgb(118, 205, 216);
	border-color: rgb(118, 205, 216);
}

.img-fluid{
	transition: transform .2s;
}

.img-fluid:hover{
	transform: scale(1.1); 
}

.pricing-table{
  border-color: #119898;
  margin: 10px 0px;
  width: 95%;
  height: fit-content;
}

.pricing-table:hover{
	box-shadow: 0 0 0 0.2rem #24d4d4;
}

.pl-xl-0 .pricing-table:hover{
	height: 31em;
}

.bg-color-primary{
  background-color: #24d4d4;
  padding: 40px 40px 90px;
}

.bg-color-secondary{
	background-color: #119898;
}

.btn.btn-secondary{
	background-color: #119898;
	border-color: #119898;
}

.btn.btn-secondary:hover{
	background-color: #24d4d4;
	border-color: #24d4d4;
}

.pricing-table:hover .pricing-discount{
  display: block;
  margin: 0;
}

.pricing-table:hover .btn.btn-secondary{
	background-color: #24d4d4;
	border-color: #24d4d4;
}

.pricing-discount__star{
	color: red;
}

.pricing-discount__text{
	color: #24d4d4;
}

.contact-form{
    z-index: 1;
    margin-top: -3em;
    margin-bottom: -3em;
}

.form-header{
	background-color: #24d4d4;
}

.form-group:focus{
	border-color: #24d4d4; 
	box-shadow: 0 0 0 0.2rem #24d4d4;
}

.form-group>input:focus,
.form-group>select:focus,
.form-group>textarea:focus {
  border-color: #24d4d4;
  box-shadow: 0 0 0 0.2rem #24d4d4;   
  outline: 0;
  border: 1px solid #ced4da;
}

.form-half{
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.form-frame{
  width:100%;
}

.form-frame:first-child{
  margin-right: 20px;
}