body {
  padding: 0;
}
body {
  background: url("https://images.hdqwalls.com/download/mx-linux-logo-minimal-4k-vn-1366x768.jpg") center/cover repeat;
  height: 100vh;
  margin: 0;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}
nav{
  height: 25vh;
	margin: 0;
  display: flex;
	justify-content: center;
}
.menu-bar {
  border-radius: 25px;
  height: fit-content;
  display: inline-flex;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  -webkit-box-align: center;
          align-items: center;
  padding: 0 10px;
  margin: 50px 0 0 0;
}
.menu-bar li {
  list-style: none;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  padding: 12px 16px;
  margin: 0 8px;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
}
.menu-bar li::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  -webkit-transition: .2s;
  transition: .2s;
  border-radius: 25px;
}
.menu-bar li:hover {
  color: black;
}
.menu-bar li:hover::before {
  background: -webkit-gradient(linear, left top, left bottom, from(#e8edec), to(#d2d1d3));
  background: linear-gradient(to bottom, #e8edec, #d2d1d3);
  box-shadow: 0px 3px 20px 0px black;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.tabcontent {
  display: none;
  padding: 6px 12px;
  color: white;
}